<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Postres que enamoran
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (producto) {

    <div class="detalle">

      <!-- IMAGEN DEL PRODUCTO -->
      <div class="imagen-producto">
        <img [src]="producto.imagen" [alt]="producto.nombre">
      </div>

      <!-- INFORMACIÓN -->
      <div class="informacion">

        <h2>
          {{ producto.nombre }}
        </h2>

        <div class="precio">
          ${{ producto.precio }}
        </div>

        <h3>
          Detalles del producto
        </h3>

        <p>
          {{ producto.descripcion }}
        </p>

        <!-- CONTENEDOR: CANTIDAD Y BOTÓN LADO A LADO -->
        <div class="acciones-carrito">
          
          <div class="selector-cantidad">
            <ion-button fill="outline" size="small" (click)="disminuirCantidad()">-</ion-button>
            <span class="cantidad-num">{{ cantidad }}</span>
            <ion-button fill="outline" size="small" (click)="aumentarCantidad()">+</ion-button>
          </div>

          <ion-button
            expand="block"
            class="boton-carrito"
            (click)="agregarAlCarrito()">
            Agregar al carrito
          </ion-button>

        </div>

      </div>

    </div>

  }

</ion-content>