<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Carrito de Compras - Rebanaditas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Formulario para agregar artículos al carrito -->
  <ion-item>
    <ion-input [(ngModel)]="nuevoProducto" placeholder="Nombre del producto"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input [(ngModel)]="nuevaCantidad" type="number" placeholder="Cantidad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="nuevoPrecio" type="number" placeholder="Precio unitario"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="agregarAlCarrito()">Agregar al Carrito</ion-button>

  <!-- Lista de productos en el carrito usando @for -->
  <ion-list class="ion-margin-top">
    @for (item of listaCarrito; track item.id; let i = $index) {
      <ion-item>
        <ion-label>
          <h2>{{ item.producto }}</h2>
          <p>Cantidad: {{ item.cantidad }} | Subtotal: ${{ item.precio * item.cantidad }}</p>
        </ion-label>
        <ion-button color="danger" slot="end" (click)="eliminarDelCarrito(i)">Eliminar</ion-button>
      </ion-item>
    }
  </ion-list>

  <!-- Mostrar el total general calculado -->
  <div class="ion-padding" style="text-align: right;">
    <h3>Total a Pagar: ${{ calcularTotal() }}</h3>
  </div>

</ion-content>