<ion-content>

  <div class="carrito">

    <!-- ENCABEZADO -->
    <div class="encabezado">

      <button
        class="boton-regresar"
        (click)="regresar()">
        ←
      </button>

      <h1>Mi carrito</h1>

    </div>

    <!-- PRODUCTOS -->
    <div class="lista-carrito">

      @if (carrito.length > 0) {

        @for (item of carrito; track item.producto.id) {

          <div class="producto-carrito">

            <div class="imagen-producto">
              🍰
            </div>

            <div class="informacion">

              <h2>
                {{ item.producto.nombre }}
              </h2>

              <p class="precio">
                ${{ item.producto.precio }}
              </p>

              <div class="cantidad">

                <button
                  (click)="disminuirCantidad(item)">
                  −
                </button>

                <span>
                  {{ item.cantidad }}
                </span>

                <button
                  (click)="aumentarCantidad(item)">
                  +
                </button>

              </div>

            </div>

          </div>

        }

        <!-- TOTAL -->
        <div class="total">

          <span>Total</span>

          <strong>
            ${{ obtenerTotal() }}
          </strong>

        </div>

        <ion-button
          expand="block"
          class="boton-comprar">
          Continuar compra
        </ion-button>

      } @else {

        <div class="carrito-vacio">

          <div class="icono-vacio">
            🛒
          </div>

          <h2>Tu carrito está vacío</h2>

          <p>
            Agrega tus postres favoritos para continuar.
          </p>

          <ion-button
            class="boton-regresar-productos"
            (click)="regresar()">
            Ver postres
          </ion-button>

        </div>

      }

    </div>

  </div>

</ion-content>