<ion-content>

  <div class="login">

    <!-- LOGO / ENCABEZADO -->
    <div class="encabezado">

      <div class="logo">
        🍰
      </div>

      <h1>Postres que enamoran</h1>

      <p>
        Bienvenido
      </p>

    </div>


    <!-- FORMULARIO -->
    <div class="formulario">

      <h2>Iniciar sesión</h2>

      <p class="subtitulo">
        Ingresa tus datos para continuar
      </p>


      <!-- CORREO -->
      <div class="campo">

        <ion-input
          [(ngModel)]="correo"
          type="email"
          label="Correo electrónico"
          labelPlacement="floating"
          placeholder="correo@ejemplo.com">
        </ion-input>

      </div>


      <!-- CONTRASEÑA -->
      <div class="campo password">

        <ion-input
          [(ngModel)]="password"
          [type]="mostrarPassword ? 'text' : 'password'"
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Ingresa tu contraseña">
        </ion-input>

        <button
          type="button"
          class="boton-password"
          (click)="cambiarVisibilidadPassword()">

          {{ mostrarPassword ? 'Ocultar' : 'Mostrar' }}

        </button>

      </div>


      <!-- MENSAJE DE ERROR -->
      @if (mensajeError) {

        <div class="mensaje-error">
          {{ mensajeError }}
        </div>

      }


      <!-- BOTÓN -->
      <ion-button
        expand="block"
        class="boton-login"
        (click)="iniciarSesion()">

        Iniciar sesión

      </ion-button>


      <!-- REGISTRO -->
      <div class="registro">

        <span>
          ¿No tienes una cuenta?
        </span>

        <button
          type="button"
          (click)="irARegistro()">

          Regístrate

        </button>

      </div>

    </div>

  </div>

</ion-content>