<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gestión de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Formulario para Registrar / Agregar Usuario -->
  <ion-item>
    <ion-input [(ngModel)]="nuevoNombre" placeholder="Nombre completo"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input [(ngModel)]="nuevoCorreo" type="email" placeholder="Correo electrónico"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="agregarUsuario()">Registrar Usuario</ion-button>

  <!-- Lista de Usuarios en pantalla -->
  <ion-list class="ion-margin-top">
    @for (u of listaUsuarios; track u.id; let i = $index) {
      <ion-item>
        <ion-label>
          <h2>{{ u.nombre }}</h2>
          <p>{{ u.correo }}</p>
        </ion-label>
        <ion-button color="danger" slot="end" (click)="eliminarUsuario(i)">Eliminar</ion-button>
      </ion-item>
    }
  </ion-list>

</ion-content>