<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gestión de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Nombre del producto -->
  <ion-item>
    <ion-input
      [(ngModel)]="nuevoNombre"
      label="Nombre del postre"
      labelPlacement="floating"
      placeholder="Ej. Pay de Limón">
    </ion-input>
  </ion-item>

  <!-- Precio -->
  <ion-item>
    <ion-input
      [(ngModel)]="nuevoPrecio"
      type="number"
      label="Precio"
      labelPlacement="floating"
      placeholder="Ej. 35">
    </ion-input>
  </ion-item>

  <!-- Categoría -->
  <ion-item>
    <ion-input
      [(ngModel)]="nuevaCategoria"
      label="Categoría"
      labelPlacement="floating"
      placeholder="Ej. Pasteles">
    </ion-input>
  </ion-item>

  <!-- Botón -->
  <ion-button
    expand="block"
    class="boton-agregar"
    (click)="agregarProducto()">
    AGREGAR PRODUCTO
  </ion-button>

  <!-- Lista de productos -->
  <ion-list class="lista-productos">

    @for (producto of productos; track producto.id; let i = $index) {

      <ion-item class="producto-item">

        <ion-label>
          <h2>{{ producto.nombre }}</h2>

          <p>
            ${{ producto.precio }} - {{ producto.categoria }}
          </p>
        </ion-label>

        <ion-button
          color="danger"
          fill="clear"
          slot="end"
          (click)="eliminarProducto(i)">
          X
        </ion-button>

      </ion-item>

    }

  </ion-list>

  <!-- Mensaje cuando no hay productos -->
  @if (productos.length === 0) {

    <div class="sin-productos">
      <h2>No hay productos</h2>
      <p>Agrega un producto utilizando el formulario.</p>
    </div>

  }

</ion-content>