<ion-content>
  <div class="registro">

    <div class="encabezado">
      <button
        class="boton-regresar"
        (click)="regresarLogin()">
        ←
      </button>

      <div class="logo">🍰</div>

      <h1>Postres que enamoran</h1>
      <p>Crea tu cuenta</p>
    </div>

    <div class="formulario">

      <h2>Crear cuenta</h2>

      <p class="subtitulo">
        Regístrate para continuar
      </p>

      <div class="campo">
        <ion-input
          [(ngModel)]="nombre"
          type="text"
          label="Nombre"
          labelPlacement="floating"
          placeholder="Ingresa tu nombre">
        </ion-input>
      </div>

      <div class="campo">
        <ion-input
          [(ngModel)]="correo"
          type="email"
          label="Correo electrónico"
          labelPlacement="floating"
          placeholder="correo@ejemplo.com">
        </ion-input>
      </div>

      <div class="campo">
        <ion-input
          [(ngModel)]="password"
          type="password"
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Mínimo 6 caracteres">
        </ion-input>
      </div>

      <div class="campo">
        <ion-input
          [(ngModel)]="confirmarPassword"
          type="password"
          label="Confirmar contraseña"
          labelPlacement="floating"
          placeholder="Repite tu contraseña">
        </ion-input>
      </div>

      @if (mensajeError) {
        <div class="mensaje-error">
          {{ mensajeError }}
        </div>
      }

      <ion-button
        expand="block"
        class="boton-registro"
        (click)="registrarse()">
        Registrarse
      </ion-button>

      <div class="login">
        <span>¿Ya tienes una cuenta?</span>

        <button
          type="button"
          (click)="regresarLogin()">
          Inicia sesión
        </button>
      </div>

    </div>

  </div>
</ion-content>